.home {
  margin-top: 60px;
  width: 100%;
  height: calc(100vh - 199px);
  background-image: url(../img/sellas.jpg);
  background-repeat: no-repeat;
  opacity: 0.8;
  background-size: contain;
}

.search_bar_container {
  position: absolute;
  background-color: #FFF;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 800px;
  height: 40px;
  padding: 10px;
  display: flex;
  border: none;
  border-radius: 30px;
  
}

.search_bar_container .drop_down{
  width: 140px;
  border-right: 2px solid #9fa2ad;
  color: #7c7f8b;
  cursor: pointer;
}

.search_bar_container .drop_down .default_checked{
  font-size: 1.2rem;
  padding: 6px;
  text-align: center;
}

.search_bar_container .drop_down ul {
  background-color: #fff;
  width: 110px;
  height: 160px;
  padding-left: 30px;
  border-radius: 10px;
  overflow-y: auto;
}

.search_bar_container .drop_down li {
  margin: 4px 0px;
  list-style: none;
}

.search_bar_container .drop_down li img {
  position: relative;
  top: 2px;
  left: -24px;
}

.search_bar_container .drop_down li label {
  position: relative;
  left: -16px;
  cursor: pointer;
}

.radio_btn {
  position: relative;
  left: -8px;
  visibility: hidden;
}

.input_bar {
  font-family: 'Noto Sans KR';
  width: 660px;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

::-webkit-input-placeholder{
  color: #9fa2ad;
}

::-moz-input-placeholder{
  color: #9fa2ad;
}